/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(248, 225, 123);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(255, 174, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}



/* specifieke stijlen */

img.zweefrechts {
    float: right;
    margin-left: 15px;
    margin-bottom: 70px;
    width: 30%;
    position: relative;
    top: 5px;
    clear: both;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#ontstaan-text{
    float: right;
    width: 69%;
}
#wolf{
    position: relative;
    top: 18px;
}
#ceasar{
    float: left;
    position: relative;
    top: 20px;
}
.afbeelding{
    width: 30%;
}
.keizerstekst{
    float: right;
    width: 69%;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #ffc23d;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #fa811ebe;
}

nav li a.active {
    background-color: rgb(255, 174, 0);
}




